
article{
    display: flex;
}

img{ 
     width: 100%;   

}

.cards{
    display :flex;
    align-items: center;
    gap : 10%;
    margin :3%;

}


.user_info{
    display: flex;
    flex-direction: column;

    flex: 0.9;
   
}

#info{
    padding: 0%;
    margin: 0%;
  
    align-items: center;
   
}

