.container{
    background-color: rgb(159, 203, 232);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1vb;
    padding: 30px;
    box-shadow: 5px 5px 5px 2px  black;
}

.button{
    font-weight: bolder;
    font-size: larger;
    background-color: rgb(29, 129, 160);
    width: 300px;
    border-radius: 1vh;
}