

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    width:20rem;
    border-radius: 1vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
}
#name{
    text-align: center;
    padding: 0px 10px 0px 10px;
}

#showMore{
    border: none;
    background-color: white;
    cursor: pointer;
    color: blue;
}

#info{
    padding : 0px 10px 0px 10px;
}
#image{
    width: 20rem;
    height: 20rem;
    border-radius: 1vh;
}

#remove{
    padding: 5px;
    margin: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
}

#price{
    position:absolute;
    top: 0;
    right: 0;
    margin :0;
    padding: 10px;
    border-radius: 0vh 1vh 0vh 0vh;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    }



